.header{

}

.clickhere{
    display:block;
    width:100%;
    text-align:right;
}

.footer{

}

.content{

}

.contact1{

}

#aboutme{

}

#frontpageimage{

}

#indextext{

}

#contact2{

}

#closearchie{

}

#archietext{

}

#icecream{

}

#creamtext{

}

#dogonly{

}

#dogtext{

}

#google{ 

}

#googletext{ 

}

#run{ 

}